{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hobbies</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
</head>
<body>
    {% include 'aboutme/include/header.html' %}
        <!-- Carousel Start -->
    <br><br>

    <!-- Page Header Start -->
    <div class="container-fluid hobbies-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Hobbies</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="{% url 'selfIntroduction' %}">Home</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Hobbies</h6>
        </div>
    </div>

    <!-- Piano -->
    <section class="first-section">
    <h1 class="display-3 text-uppercase text-secondary mb-3">Piano</h1>
        <div class="row pt-5">
            <div class="col-lg-6 mb-5">
                <h2>ABC</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
            <div class="col-lg-6 mb-5">
                    <div class="bg-secondary p-5">
                        <h3 class="text-primary text-center mb-4">Check My Favorite Pieces</h3>
                        <form method="get" action="{% url 'piecesSearch' %}">
                        <div class="form-group">
                            <select name='composer' value="{{ request.GET.composer }}" class="custom-select px-4" style="height: 50px;">
                                <option value="" selected>Composer</option>
                                <option value="Chopin">Chopin</option>
                                <option value="Beethoven">Beethoven</option>
                                <option value="Liszt">Liszt</option>
                                <option value="Bach">Bach</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name='tonality' value="{{ request.GET.tonality }}" class="custom-select px-4" style="height: 50px;">
                                <option value="" selected>Tonality</option>
                                <option value="1">C Major</option>
                                <option value="2">c Minor</option>
                                <option value="3">G Major</option>
                                <option value="4">g Minor</option>
                                <option value="5">D Major</option>
                                <option value="6">d Minor</option>
                                <option value="7">A Major</option>
                                <option value="8">a Minor</option>
                                <option value="9">E Major</option>
                                <option value="10">e Minor</option>
                                <option value="11">B Major</option>
                                <option value="12">b Minor</option>
                                <option value="13">F Major</option>
                                <option value="14">f Minor</option>
                                <option value="15">B♭ Major</option>
                                <option value="16">f♯ Minor</option>
                                <option value="17">E♭ Major</option>
                                <option value="18">c♯ Minor</option>
                                <option value="19">A♭ Major</option>
                                <option value="20">g♯ Minor</option>
                                <option value="21">D♭ Major</option>
                                <option value="22">b♭ Minor</option>
                                <option value="23">G♭ Major</option>
                                <option value="24">e♭ Minor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name='status' value="{{ request.GET.tonality }}" class="custom-select px-4" style="height: 50px;">
                                <option value="" selected>Status</option>
                                <option value="0">Want to Play</option>
                                <option value="1">Practicing</option>
                                <option value="2">Memorized but not Mastered</option>
                                <option value="3">Performable</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name='sort' value="{{ request.GET.sort }}" class="custom-select px-4" style="height: 50px;">
                                <option value="" selected>Sort By</option>
                                <option value="0">Difficulty Ascending</option>
                                <option value="1">Difficulty Descending</option>
                                <option value="2">Status</option>
                                <option value="3">Tonality</option>
                            </select>
                        </div>
                        <div class="form-group mb-0">
                            <button class="btn btn-primary btn-block" type="submit" style="height: 50px;">Check Now</button>
                        </div>
                        </form>
                    </div>
                </div>
        </div>
    </section>

    <section class="first-section">
        <h1 class="display-3 text-uppercase text-secondary mb-3">Card Tricks</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>

    </section>

    <section class="first-section">
        <h1 class="display-3 text-uppercase text-secondary mb-3">Rubik's Cube</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>

    </section>
{% include 'aboutme/include/footer.html' %}

</body>
</html>